@import './normalize.css';

:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-heading: #1b0760;
  --color-body: #918ca4;
  --color-border: #ccc;
  --color-body-darker: #5c5577;
  --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typhography */
html {
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.2rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Links */
a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.link-arrow::after {
  content: '-->';
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badges */
.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  white-space: nowrap;
}

.badge--primary {
  background: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.6rem;
  }

  .badge--small {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
  }
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
}

.list__item {
  color: var(--color-heading);
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon-container {
  align-items: center;
  background: #f1f7f8;
  border-radius: 100%;
  display: inline-flex;
  height: 60px;
  justify-content: center;
  width: 60px;
}

.icon-container--accent {
  background: var(--color-accent);
}

.icon--white {
  fill: #fff;
}

.icon--small {
  width: 30px;
  height: 30px;
}

/* Buttons */
.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  outline: 0;
  padding: 2rem 4vw;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn .icon {
  height: 25px;
  margin-right: 10px;
  vertical-align: middle;
  width: 25px;
}

.btn--primary {
  background: var(--color-primary);
  color: #fff;
}

.btn--primary:hover {
  background: #1d7df9;
}

.btn--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.btn--secondary:hover {
  background: #01cff3;
}

.btn--accent {
  background: var(--color-accent);
  color: #fff;
}

.btn--accent:hover {
  background: #ec3000;
}

.btn--outline {
  border: 2px solid var(--color-heading);
  background: #fff;
  color: var(--color-heading);
}

.btn--outline:hover {
  background: var(--color-heading);
  color: #fff;
}

.btn--block {
  display: inline-block;
  width: 100%;
}

.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* Inputs */
.input {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  color: var(--color-heading);
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem 2rem;
}

.input-group {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: flex;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  width: 0;
}

.input-group .btn {
  margin: 4px;
}

::placeholder {
  color: #cdcbd7;
  font-weight: 300;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

/* Cards */

.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card--primary .card__header {
  background: var(--color-primary);
  color: #fff;
}

.card--primary .badge--secondary {
  background: #126de4;
}

.card--secondary .card__header {
  background: var(--color-secondary);
  color: #fff;
}

.card--secondary .badge--secondary {
  background: #01cdf0;
}

/* Plans */
.plan__heading {
  color: #fff;
  font-weight: 600;
  font-size: 2.4rem;
  margin: 0;
}

.plan__price {
  font-size: 6rem;
}

.plan__billing-cycle {
  font-size: 2.4rem;
  font-weight: 300;
  margin-right: 10px;
  opacity: 0.8;
}

.plan__description {
  display: block;
  font-weight: 300;
  letter-spacing: 1px;
}

.plan .list__item {
  letter-spacing: 1px;
}

.plan--popular .card__header {
  position: relative;
}

.plan--popular .card__header::after {
  content: url(../images/popular.svg);
  display: inline-block;
  position: absolute;
  right: 5%;
  top: -6px;
  width: 40px;
}

@media screen and (min-width: 1024px) {
  .plan__heading {
    font-size: 1.4rem;
  }

  .plan__price {
    font-size: 5rem;
  }

  .plan__billing-cycle {
    font-size: 1.6rem;
  }

  .plan__description {
    font-size: 1.7rem;
  }
}

/* Media */
.media {
  display: flex;
}

.media__image {
  margin-right: 20px;
  margin-top: 1rem;
}

.media__title {
  margin-top: 0;
}

/* Quotes */
.quote {
  color: var(--color-body-darker);
  font-size: 2.4rem;
  font-style: italic;
  line-height: 1.3;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote__author,
.quote__company {
  font-style: normal;
}

.quote__author {
  font-weight: 500;
  font-size: 2.8rem;
  margin: 0;
}

.quote__company {
  font-size: 2rem;
  opacity: 0.4;
}

.quote__line {
  transform: translateY(-10px);
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }

  .quote__author {
    font-size: 2.4rem;
  }

  .quote__company {
    font-size: 1.6rem;
  }
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Testimonial */
.testimonial {
  padding: 3rem;
}

.testimonial__image > img {
  width: 100%;
}

.testimonial__image {
  position: relative;
}

.testimonial__image .icon-container {
  position: absolute;
  top: 3rem;
  right: -30px;
}

.testimonial .quote {
  margin: 1rem 0;
}

@media screen and (min-width: 768px) {
  .testimonial .quote {
    margin-left: 60px;
    margin-top: 4rem;
  }
}

/* Callouts */
.callout {
  border-radius: 5px;
  padding: 3rem;
}

.callout--primary {
  background: var(--color-primary);
  color: #fff;
}

.callout__heading {
  margin-top: 0;
  color: #fff;
}

.callout .btn {
  justify-self: center;
  align-self: center;
}

.callout__content {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .callout {
    padding: 4rem;
  }

  .callout__content {
    text-align: left;
  }

  .callout .grid {
    grid-template-columns: 1fr auto;
  }

  .callout .btn {
    margin-left: 40px;
    justify-self: start;
  }
}

/* Collapsible */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
}

.collapsible__toggler {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__toggler {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  max-height: 100%;
  opacity: 1;
}

/* Block */
.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}

.block__heading {
  margin-top: 0;
}

.block__header {
  text-align: center;
}

.block--dark {
  background: #000;
  color: #7b858b;
}

.block--dark .block__heading {
  color: #fff;
}

.block--skewed-right {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
}

.block--skewed-left {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Navigation Bar*/
.nav {
  align-items: center;
  background: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1rem;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 1rem 2rem;
  border-bottom: 1px solid #222;
}

.nav__item > a {
  color: #d2d0db;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: #fff;
}

.nav__toggler {
  cursor: pointer;
  opacity: 0.5;
}

.nav__brand {
  transform: translateY(5px);
}

.nav.collapsible--expanded .nav__toggler {
  border-radius: 5px;
  box-shadow: 0 0 0 4px #555;
  opacity: 1;
  transition: all 0.15s;
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    display: flex;
    max-height: 100%;
    opacity: 1;
    width: auto;
  }

  .nav__item {
    border: 0;
    font-size: 1.6rem;
  }
}

/* Hero */
.hero__heading {
  color: #fff;
  margin-top: 0;
}

.hero__header {
  text-align: center;
}

.hero__tagline {
  color: #b9c3cf;
  font-size: 2rem;
  letter-spacing: 1px;
  margin: 2rem 0 4rem;
}

.hero__image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 0;
  }

  .hero__header {
    text-align: left;
    align-self: center;
  }
}

/* Domain Block */
.block-domain .input-group {
  border: 0;
  box-shadow: 0 0 30px 20px #e6ebee;
  max-width: 700px;
  margin: 4rem auto;
}

.block-domain__prices {
  color: var(--color-heading);
  display: grid;
  font-size: 2rem;
  font-weight: 600;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 6rem);
  justify-items: center;
  max-width: 750px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .block-domain__prices {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
}
