<footer class="block footer">
  <div class="container grid">
    <section class="footer__section">
      <div class="collapsible collapsible--expanded">
        <div class="collapsible__header">
          <h3 class="collapsible__heading">Products</h3>
          <svg class="icon icon--primary icon--white collapsible__toggler">
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
        </div>
        <div class="collapsible__content">
          <ul class="list footer__list">
            <li class="footer__item">
              <a href="#">Website Hosting</a>
            </li>
            <li class="footer__item">
              <a href="#">Free Automated Wordpress</a>
            </li>
            <li class="footer__item">
              <a href="#">Migrations</a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="footer__section">
      <div class="collapsible">
        <div class="collapsible__header">
          <h3 class="collapsible__heading">Company</h3>
          <svg class="icon icon--primary icon--white collapsible__toggler">
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
        </div>
        <div class="collapsible__content">
          <ul class="list footer__list">
            <li class="footer__item">
              <a href="#">About</a>
            </li>
            <li class="footer__item">
              <a href="#">Affiliates</a>
            </li>
            <li class="footer__item">
              <a href="#">Blog</a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="footer__section">
      <div class="collapsible">
        <div class="collapsible__header">
          <h3 class="collapsible__heading">Support</h3>
          <svg class="icon icon--primary icon--white collapsible__toggler">
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
        </div>
        <div class="collapsible__content">
          <ul class="list footer__list">
            <li class="footer__item">
              <a href="#">Contact</a>
            </li>
            <li class="footer__item">
              <a href="#">Knowledge</a>
            </li>
            <li class="footer__item">
              <a href="#">FAQ</a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="footer__section">
      <div class="collapsible">
        <div class="collapsible__header">
          <h3 class="collapsible__heading">Domains</h3>
          <svg class="icon icon--primary icon--white collapsible__toggler">
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
        </div>
        <div class="collapsible__content">
          <ul class="list footer__list">
            <li class="footer__item">
              <a href="#">Domain Checker</a>
            </li>
            <li class="footer__item">
              <a href="#">Domain Transfer</a>
            </li>
            <li class="footer__item">
              <a href="#">Free Domain</a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <div class="footer__brand">
      <img class="footer__image" src="images/logo.svg" alt="" />
      <p class="footer__copyright">Copyright 2020 Mosh Hamedani</p>
    </div>
  </div>
</footer>
